<div class="drawers">
  <% current_user.partitions.each do |partition| %>
    <div class="side-drawer">
      <div class="drawer-title">
        <%= link_to partition.title, partitions_path(partition) %>
        <div class="message-date">
          <%= l partition.created_at %>
        </div>
      </div>
    </div>
   <% end %>
</div>