<div class="drawer-header">
   <div class="left-header">
    <div class="header-title">
      
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">編集</a>
    </div>
    <div class="header-button">
      <a href="#">削除</a>
    </div>
  </div>
</div>

<div class="main-drawer">
  <%= render partial: 'drawer' %>
</div>

<div class="form">
</div>