<div class="drawer-header">
   <div class="left-header">
    <div class="header-title">
      <%= @partition.title %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">編集</a>
    </div>
    <div class="header-button">
      <%= link_to "削除", partition_path(@partition), method: :delete %>
    </div>
  </div>
</div>

<div class="main-drawer">
  <%= render partial: 'drawer' %>
</div>

<div class="form">
</div>