.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: greenyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 24px;
  color: black;
  text-decoration: none;
}

.create-drawer {
  font-size: 10px;
}

.create-drawer a {
  border: 1px solid blue;
  padding: 14px;
  color: blue;
  text-decoration: none;
}

.side-bar-search{
  height: 100px;
  padding: 0 20px;
  background-color: green;
}

.search-form {
  padding: 10px;
  background-color: green;
}

.drawers {
  background-color: #93e68c;
  height: calc(100vh - 200px);
  padding: 0 20px;
  overflow: scroll;
}

.side-drawer {
  color: white;
  font-size: 32px;
  padding: 20px 0 40px;
}

.drawer-user-name{
  font-size: 18px;
}

.message-date{
  font-size: 18px;
}

.drawer-name a {
  text-decoration: none;
  color: white;
}

.drawer {
  background-color: #ffffff;
  width: calc(100% - 300px);
}
.drawer-header {
  background-color: #93e68c;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.left-header{
  display: flex;
  justify-content: space-between;
}


.header-title {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
  margin-right: 40px;
}

.right-header{
  display: flex;
  justify-content: flex-end;
}

.header-button {
  margin: 40px 20px;
}

.header-button a {
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;
}

.main-drawer {
  height: calc(100vh - 100px - 180px);
  padding: 46px 40px;
  overflow: scroll;
}

.grid{
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 90%;
  width: 90%;
}

.message-image{
  margin: 20px 10px;
}

.categorys {
  margin: 10px 0;
}

.upper-category{
  display: flex;
}

.category {
  color: #434a54;
  font-size: 16px;
}

.drawer-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.form {
  background-color: #DDDDDD;
  height: 180px;
  padding: 20px 40px;
  display: flex;
}

.form-comment-up {
  background-color: white;
  width: 100%;
}

.form-comment {
  border: none;
  height: 150px;
  width: 100%;
  padding-left: 10px;
}